{% extends 'base.html' %}

{% load bootstrap3 %}

{% block content %}

<div class="page-header">
    <h1>
        Bienvenue sur la Main Courante !
    </h1>
</div>

<div class="panel panel-primary" id="connexion">
	<div class="panel panel-heading">
		<h4>Connexion</h4>
	</div>
	<div class="panel-body">
		<form action="" method="post" class="form-horizontal">
			{% csrf_token %}
			{% bootstrap_form form layout="horizontal" %}
			{% buttons layout="horizontal" %}
			<button type="submit" class="btn btn-primary">Connexion</button>
			{% endbuttons %}
		</form>
	</div>
</div>

{% endblock %}
