{% extends 'base.html' %}

{% load bootstrap3 %}
{% load static %}

{% block content %}

<div class="page-header">
    <h1>
        Bienvenue sur la Main Courante !
    </h1>
</div>

{% bootstrap_messages %}

<ul class="nav nav-tabs" role="tablist">
    <li{% block operatortab %}{% endblock %}><a href="{% url 'login' %}{% if next %}?next={{ next }}{% endif %}" role="tab"><b>Opérateurs</b></a></li>
    <li{% block administratortab %}{% endblock %}><a href="{% url 'login-admin' %}{% if next %}?next={{ next }}{% endif %}" role="tab"><b>Administrateurs</b></a></li>
</ul>

<div class="tab-content">
    <div class="tab-pane active" id="operateurs">
        {% block tabcontent %}{% endblock %}
    </div>
</div>
{% endblock %}
