{% extends 'base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

<div class="page-header">
    <h1>
        Bienvenue sur la Main Courante !
    </h1>
    Veuillez cliquer sur votre nom d’utilisateur pour vous connecter.
</div>

<div class="list-group">
    {% for user in users %}
    {% if user.is_superuser %}
    <a class="list-group-item" href="#">
        <h4><span class="glyphicon glyphicon-lock"></span> {{ user }}</h4>
    </a>
    {% else %}
    <a class="list-group-item" href="{% url 'passless-login' user.username %}{% if next %}?next={{ next }}{% endif %}">
        <h4><span class="glyphicon glyphicon-arrow-right"></span> {{ user }}</h4>
    </a>
    {% endif %}
    {% endfor %}
</div>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h4>Nouvel utilisateur</h4>
    </div>
    <div class="panel-body">
        <form action="{% url 'create-user' %}{% if next %}?next={{ next }}{% endif %}"" method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form create_user_form layout="horizontal" %}
            {% buttons layout="horizontal" %}
            <button type="submit" class="btn btn-primary">Connexion</button>
            {% endbuttons %}
        </form>
    </div>
</div>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h4>Administrateurs</h4>
    </div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% buttons layout="horizontal" %}
            <button type="submit" class="btn btn-primary">Connexion</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
