{% extends 'accounts/login_base.html' %}

{% load bootstrap3 %}

{% block operatortab %} class="active"{% endblock %}

{% block tabcontent %}
<div class="tab-pane active">
    <div class="list-group">
		{% for user in operators %}
		<a class="list-group-item" href="{% url 'login-ope' user.username %}{% if next %}?next={{ next }}{% endif %}">
            <span class="glyphicon glyphicon-arrow-right"></span> <b>{{ user }}</b>
		</a>
		{% endfor %}
		<div class="list-group-item">
            <h4><span class="glyphicon glyphicon-plus-sign"></span> Ajouter un nouvel opérateur</h4>
			<form action="{% if next %}?next={{ next }}{% endif %}#form" method="post" class="form-horizontal" id="form">
				{% csrf_token %}
                {% bootstrap_form form layout="horizontal" %}
                {% buttons layout="horizontal" %}
                <button type="submit" class="btn btn-primary">Ajouter</button>
                {% endbuttons %}
			</form>
		</div>
	</div>
</div>
{% endblock %}
