{% extends 'base.html' %}

{% load static %}

{% block content %}
<div class="text-right">
    <img src="{% static 'img/logo-crf.png' %}" />
</div>

{% regroup evenement_list by clos as evenement_grouper %}
{% for evenement_group in evenement_grouper %}
<h2>Évènements {% if evenement_group.grouper %}passés{% else %}en cours{% endif %}</h2>
<ul class="list-group">
    {% for evenement in evenement_group.list %}
    <a class="list-group-item" href="{% url 'add-message' evenement.slug %}">
        <h4>{{ evenement }}</h4>
    </a>
    {% empty %}
    <li class="list-group-item"><em>Aucun évènement {% if evenemnt_group.grouper %}passé{% else %}en cours{% endif %}.</em></li>
    {% endfor %}
</ul>
{% if not forloop.last %}<hr />{% endif %}
{% endfor %}
{% endblock %}
