{% extends 'maincourante/base.html' %}

{% block managetab %} class="active"{% endblock %}

{% block content %}
<div class="navbar">
  <div class="navbar-left">
    <div class="btn-group" role="group">
      <a href="{% url 'list-indicatifs' evenement.slug %}" class="btn btn-{% block indicatiftab %}default{% endblock %}">Indicatifs</a>
      <a href="{% url 'cloture-evenement' evenement.slug %}" class="btn btn-{% block cloturetab %}default{% endblock %}">Cloture</a>
    </div>
  </div>
</div>
{% endblock %}
