{% extends 'maincourante/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load message_tags %}

{% block saisitab %} class="active"{% endblock %}

{% block css %}

{{ block.super }}

<link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
<link rel="stylesheet" href="{% static "css/maincourante.css" %}">
<link rel="stylesheet" href="{% static "angucomplete-alt/angucomplete-alt.css" %}">

{% endblock %}

{% block content %}
<diV ng-app="maincouranteApp">
<div ng-controller="MainCtrl">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Saisie des messages</h4>
        </div>
        <div class="panel-body panel-body-md">
            <form class="form-horizontal">
            {% csrf_token %}
                <div class="form-group">
			    <label class="col-md-3 control-label" for="id_destinataire">Destinataire</label>
                <div class="col-md-6">
                        <angucomplete-alt id="receiver"
                                          placeholder="Destinataire"
                                          pause="100"
                                          selected-object="receiver"
                                          local-data="indicatifs"
                                          search-fields="name"
                                          title-field="name"
                                          minlength="1"
                                          focuson="onNewMessage"
                                          override-suggestions="true"
                                          template-url="{% static 'scripts/maincourante/directives/angucomplete-custom.html' %}"
                                          input-class="form-control form-control-small"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Expéditeur</label>
                    <div class="col-md-6">
                        <angucomplete-alt id="sender"
                                          placeholder="Expéditeur"
                                          pause="100"
                                          selected-object="sender"
                                          local-data="indicatifs"
                                          search-fields="name"
                                          title-field="name"
                                          ng-model="from"
                                          minlength="1"
                                          override-suggestions="true"
                                          input-class="form-control form-control-small"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Message</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="body" ng-model="body" placeholder="Message">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Réponse</label>
                    <div class="col-md-6">
                        <input  type="text" class="form-control" name="reponse" ng-model="response" placeholder="Réponse"/>
                    </div>
                </div>
                {% buttons layout="horizontal" %}
                        <button type="submit" ng-click="addMessage()" class="btn btn-primary">Envoyer</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div ng-if="errorMessage" class="alert alert-danger">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erreur - </strong> {$errorMessage$}
    </div>

    <messages ng-init="enableEditionMode();"/>

    <br/>

</div>
{% endblock %}


{% block js_end %}

{{ block.super }}

<script>
    var csrf = '{{ csrf_token|escapejs }}';
    var api_url = '{% url 'api_v1_top_level' 'v1' %}';
    var message_directive_template_url = '{% static 'scripts/maincourante/directives/message.html' %}';
    var EVENEMENT = '{{ evenement.nom }}';
    var EVENEMENT_ID = '{{ evenement.id }}';

</script>

<script src="{% static "angular/angular.js" %}" ></script>
<script src="{% static "angular-route/angular-route.js" %}" ></script>
<script src="{% static "angular-animate/angular-animate.js" %}" ></script>
<script src="{% static "angular-resource/angular-resource.js" %}" ></script>
<script src="{% static "angular-bootstrap/ui-bootstrap.js" %}" ></script>
<script src="{% static "angular-bootstrap/ui-bootstrap-tpls.js" %}" ></script>
<script src="{% static "angucomplete-alt/angucomplete-alt.js" %}" ></script>
<script src="{% static "ng-focus-on/ng-focus-on.js" %}" ></script>

<script src="{% static "scripts/maincourante/entities/message.js" %}" ></script>
<script src="{% static "scripts/maincourante/entities/indicatif.js" %}" ></script>
<script src="{% static "scripts/maincourante/controllers/message_controller.js" %}" ></script>
<script src="{% static "scripts/maincourante/directives/message_directive.js" %}" ></script>
<script src="{% static "scripts/maincourante/app.js" %}" ></script>

{% endblock %}
