{% extends 'maincourante/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load message_tags %}

{% block saisitab %} class="active"{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
{% endblock %}

{% block content %}
<diV ng-app="maincouranteApp">
<div ng-controller="MainCtrl">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h4>Saisie des messages</h4>
        </div>
        <div class="panel-body">
            <form class="form-horizontal">
            {% csrf_token %}
                <div class="form-group">
			    <label class="col-md-3 control-label" for="id_destinataire">Destinataire</label>
                <div class="col-md-6">
                        <angucomplete-alt id="receiver"
                                          placeholder="Destinataire"
                                          pause="100"
                                          selected-object="receiver"
                                          local-data="indicatifs"
                                          search-fields="name"
                                          title-field="name"
                                          minlength="1"
                                          focuson="onNewMessage"
                                          override-suggestions="true"
                                          input-class="form-control form-control-small"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Expéditeur</label>
                    <div class="col-md-6">
                        <angucomplete-alt id="sender"
                                          placeholder="Expéditeur"
                                          pause="100"
                                          selected-object="sender"
                                          local-data="indicatifs"
                                          search-fields="name"
                                          title-field="name"
                                          ng-model="from"
                                          minlength="1"
                                          override-suggestions="true"
                                          input-class="form-control form-control-small"/>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">Message</label>
                    <div class="col-md-6">
                        <input type="text" class="form-control" name="body" ng-model="body" placeholder="Message">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label" for="id_reponse">Réponse</label>
                    <div class="col-md-6">
                        <input class="form-control" id="id_reponse" name="reponse" placeholder="Message" title="" type="text" />
                    </div>
                </div>
                {% buttons layout="horizontal" %}
                        <button type="submit" ng-click="addMessage()" class="btn btn-primary">Envoyer</button>
                {% endbuttons %}
            </form>
        </div>
    </div>
    <div ng-if="errorMessage" class="alert alert-danger">
        <a href="" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <strong>Erreur </strong> {$errorMessage$}
    </div>
    <div ng-repeat="message in messages | orderBy: '-displayCreationDate' ">
        <div ng-hide="message.parentId">
            <div ng-class="{ 'panel': true, 'panel-info': !message.deleted ,'panel-default': message.deleted}">
                <div class="panel-heading">{$ message.displayCreationDate | date:"dd MMM yyyy 'à' HH:mm:ss" $} <b>| {$ message.receiver $} </b> de <b>{$ message.sender $} </b> | message saisi par <b>{$ message.operateur $} </b>
                    <span ng-if="message.deleted">| Message supprimé: {$ message.deleted $}</span>
                    <div class="pull-right">
                        <a ng-hide="message.edit || message.deleted" class="btn btn-primary btn-xs" ng-click="enableMessageEdition(message)"><span class="glyphicon glyphicon-edit"></span></a>
                        <a ng-hide="message.edit || message.deleted" ng-click="deleteMessage(message)" class="btn btn-danger btn-xs" data-dismiss="alert" aria-label="close" title="close"><span class="glyphicon glyphicon-trash"></span></a>
                        <a ng-show="message.edit" class="btn btn-success btn-xs"  ng-click="validateMessageEdition(message)"><span class="glyphicon glyphicon-ok"></span>Valider</a>
                        <a ng-show="message.edit" class="btn btn-warning btn-xs"  ng-click="cancelMessageEdition(message)"><span class="glyphicon glyphicon-remove"></span>Annuler</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-hide="message.edit">{$ message.body $}</div>
                        <div ng-show="message.edit">
                            <input type="text" class="form-control" value="message.corps" ng-model="message.body" focus-on="onEdit" ng-keydown="validateMessageEditionListener($event, message)">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br/>
    <script>

        var csrf = '{{ csrf_token|escapejs }}';

    </script>
    <script type="text/ng-template" id="myModalContent.html">
            <div class="modal-header">
            <h3 class="modal-title">Suppression de message ?</h3>
            </div>
            <div class="modal-body">
                Êtes-vous sûr de vouloir supprimer ce message ? Si oui veuillez donner une raison.
                <input type="text" class="form-control" placeholder="Raison" ng-model="suppressionMessage">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" type="button" ng-click="ok()">Oui</button>
                <button class="btn btn-warning" type="button" ng-click="cancel()">Non</button>
            </div>
    </script>

    <script src="{% static "scripts/bower_components/angular/angular.js" %}" ></script>
    <script src="{% static "scripts/bower_components/angular-route/angular-route.js" %}" ></script>
    <script src="{% static "scripts/bower_components/angular-resource/angular-resource.js" %}" ></script>
    <script src="{% static "scripts/bower_components/angular-bootstrap/ui-bootstrap.js" %}" ></script>
    <script src="{% static "scripts/bower_components/angular-bootstrap/ui-bootstrap-tpls.js" %}" ></script>
    <script src="{% static "scripts/bower_components/angucomplete-alt/angucomplete-alt.js" %}" ></script>
    <script src="{% static "scripts/bower_components/ng-focus-on/ng-focus-on.js" %}" ></script>
    <script src="{% static "scripts/maincourante/entities/message.js" %}" ></script>
    <script src="{% static "scripts/maincourante/entities/indicatif.js" %}" ></script>
    <script src="{% static "scripts/maincourante/controllers/message.controller.js" %}" ></script>
    <script src="{% static "scripts/maincourante/app.js" %}" ></script>

    <link rel="stylesheet" href="{% static "css/maincourante.css" %}">
    <link rel="stylesheet" href="{% static "scripts/bower_components/angucomplete-alt/angucomplete-alt.css" %}">

</div>
{% endblock %}
