{% extends 'maincourante/base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}
{% load message_tags %}

{% block saisitab %} class="active"{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/autocomplete.css' %}">
{% endblock %}

{% block content %}

<div class="panel panel-primary">
    <div class="panel-heading">
        <h4>Saisie des messages</h4>
    </div>
    <div class="panel-body">
        <form method="post" class="form-horizontal">
            {% csrf_token %}
			<div class="form-group">
			    <label class="col-md-3 control-label" for="id_destinataire">Destinataire</label>
                <div class="col-md-6">
                    <input class="form-control" id="id_destinataire" maxlength="100" name="destinataire" placeholder="Destinataire" required="required" title="" type="text" autofocus />
                </div>
            </div>
			<div class="form-group">
			    <label class="col-md-3 control-label" for="id_expediteur">Expéditeur</label>
                <div class="col-md-6">
                    <input class="form-control" id="id_expediteur" maxlength="100" name="expediteur" placeholder="Expéditeur" required="required" title="" type="text" />
                </div>
            </div>
			<div class="form-group">
			    <label class="col-md-3 control-label" for="id_corps">Message</label>
                <div class="col-md-6">
                    <input class="form-control" id="id_corps" name="corps" placeholder="Message" required="required" title="" type="text" />
                </div>
            </div>
			<div class="form-group">
			    <label class="col-md-3 control-label" for="id_reponse">Réponse</label>
                <div class="col-md-6">
                    <input class="form-control" id="id_reponse" name="reponse" placeholder="Message" title="" type="text" />
                </div>
            </div>
            {% buttons layout="horizontal" %}
                <button type="submit" class="btn btn-primary">Envoyer</button>
            {% endbuttons %}
        </form>
    </div>
</div>

<div id="messages-content">
{% render_messages messages show_tools=True show_deleted=True %}
</div>

<div class="modal" id="confirm-delete" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="panel panel-danger">
            <div class="panel-heading" id="confirm-delete-title">
                Supprimer un message
            </div>
            <div class="panel-body">
                <form action="#" method="post" role="form" id="confirm-delete-form">
                    {% csrf_token %}
                    {% bootstrap_form delete_form %}
                    {% buttons %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-danger">Confirmer</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="confirm-edit" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
        <div class="panel panel-primary">
            <div class="panel-heading" id="confirm-edit-title">
                Modifier un message
            </div>
            <div class="panel-body">
                <form action="#" method="post" role="form" id="confirm-edit-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <label class="control-label" for="id_corps">Message</label>
                        <input class="form-control" id="id_corps" maxlength="256" name="corps" placeholder="Message" required="required" title="" type="text" />
                    </div>
                    {% buttons %}
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">Modifier</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                        </div>
                    {% endbuttons %}
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js_end %}
{{ block.super }}
<script src="{% static 'js/jquery.autocomplete.min.js' %}"></script>
<script type="text/javascript">
$('input[name="expediteur"]').autocomplete({
  serviceUrl: "{% url 'search-indicatif' evenement.slug %}",
  onSelect: function (data) {
    $('input[name="expediteur"]').val(data.data);
  }
});
$('input[name="destinataire"]').autocomplete({
  serviceUrl: "{% url 'search-indicatif' evenement.slug %}",
  onSelect: function (data) {
    $('input[name="destinataire"]').val(data.data);
  }
});
</script>
<script type="text/javascript">
/* This script set the action url of the deletion form */
$('#confirm-delete').on('show.bs.modal', function(e) {
    $('#confirm-delete-form').attr('action', $(e.relatedTarget).data('action'));
});
/* This script set the action url of the edit form */
$('#confirm-edit').on('show.bs.modal', function(e) {
    $('#confirm-edit-form').attr('action', $(e.relatedTarget).data('action'));
    var thread = $(e.relatedTarget).data('thread');
    var value = $('#thread-' + thread).html();
    var input = $('input[name="corps"]');
    input.val(value);
    /* Not working :'-( */
    //input.focus();
    //input.select();
});
</script>
<script type="text/javascript">
window.setInterval(function() {
    $.get("{% url 'last-messages' evenement.slug %}?deleted=1&tools=1", function(data, status) {
        $("#messages-content").html(data);
    });
}, 5000);
</script>
{% endblock %}
