{% extends 'base.html' %}

{% block navbar-left %}
    <li role="presentation"{% block saisitab %}{% endblock %}><a role="munitem" tabindex="-1" href="{% url 'add-message' evenement.slug %}">Saisi</a></li>
    <li role="presentation"{% block reporttab %}{% endblock %}><a role="munitem" tabindex="-1" href="{% url 'list-messages' evenement.slug %}">Compte rendu</a></li>
    {% if not evenement.clos %}
    <li role="presentation"{% block managetab %}{% endblock %}><a role="munitem" tabindex="-1" href="{% url 'manage-evenement' evenement.slug %}">Gestion</a></li>
    {% endif %}
{% endblock %}
