{% load staticfiles %}<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="utf-8" />
        <title>{% block title %}edirTIC31 - Main Courante{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <p>
            {% if request.user.is_staff %}<a href="/admin">Administration</a> - {% endif %}
            <a href="{% url 'logout' %}">Se déconnecter</a>
            </p>
            {% block content %}{% endblock %}
        </div>
        <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script src="{% static "test.js" %}" ></script>
    </body>
</html>
