[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django-autoslug = "*"
django-bootstrap3 = "*"
django-bower = "*"
django-braces = "*"
django-tastypie = "*"
Django = "<1.9"

[requires]
python_version = "3.7"
