.panel-body-warning{
    background-color: #fcf8e3;
}

.panel-body-danger{
    background-color: #f2dede;
}

h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

.panel-body-md{
    padding-bottom: 0px;
}

.form-group-md{
    margin-bottom: 0px;
}

.panel-sm{
    margin-bottom: 10px;
}
.panel-body-sm{
    padding: 5px 5px 5px 15px;
}

.panel-heading-sm{
    padding: 5px 5px 5px 15px;
}