{% extends 'base.html' %}

{% load bootstrap3 %}
{% load staticfiles %}

{% block content %}

<div class="text-right">
    <img src="{% static 'img/logo-crf.png' %}" />
</div>

<div class="panel panel-primary">
    <div class="panel panel-heading">
        <h2>Connexion</h2>
    </div>
    <div class="panel-body">
        <form action="" method="post" class="form-horizontal">
            {% csrf_token %}
            {% bootstrap_form form layout="horizontal" %}
            {% buttons layout="horizontal" %}
            <button type="submit" class="btn btn-primary">Connexion</button>
            {% endbuttons %}
        </form>
    </div>
</div>
{% endblock %}
