{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}
    <form action="" method="post" class="form-horizontal">
        {% csrf_token %}
        {% bootstrap_form form layout="horizontal" %}
        {% buttons layout="horizontal" %}
        <button type="submit" class="btn btn-primary">Ok !</button>
        {% endbuttons %}
    </form>
    <hr>
    {% for object in object_list %}<div class="panel panel-default">
        <div class="panel-heading">{{ object.expediteur }} → {{ object.recipiendaire }}</div>
        <div class="panel-body">{{ object.corps }}</div>
    </div>{% endfor %}
{% endblock %}
