<div class="panel panel-{% if message.deleted %}default{% else %}info{% endif %}">
    <div class="panel-heading">
        {{ message.last_version.cree }}
        |
        <b>{{ message.destinataire }}</b> de <b>{{ message.expediteur }}</b>
        |
        message saisi par <b>{{ message.operateur }}</b>
        <div class="pull-right">
            {% if message.modified %}
            <span class="text-danger"><span class="glyphicon glyphicon-warning-sign"></span>&#160;Message modifié</span>
            {% endif %}
            {% if tools %}
            <a href="#" class="btn btn-primary btn-xs" data-thread="{{ message.id }}" data-action="{% url 'edit-message' evenement.slug message.id %}" data-toggle="modal" data-target="#confirm-edit"><span class="glyphicon glyphicon-edit"></span></a>
            <a href="#" class="btn btn-danger btn-xs" data-action="{% url 'delete-message' evenement.slug message.id %}" data-toggle="modal" data-target="#confirm-delete"><span class="glyphicon glyphicon-trash"></span></a>
            {% endif %}
        </div>
    </div>
    <ul class="list-group">
        {% if message.deleted %}
        <li class="list-group-item">
            <p class="pull-right text-danger"><em>supprimé le FIXME par {{ event.operateur }}</em></p>
            <p class="text-danger">Message supprimé : {{ message.suppression }}</p>
        </li>
        {% endif %}
        {% for version in message.versions.reverse.all %}
        <li class="list-group-item">
            {% if forloop.first %}
            {% if message.deleted %}
            <p class="pull-right text-danger"><em>version du {{ version.cree }} par {{ version.operateur }}</em></p>
            {% endif %}
            <p id="thread-{{ message.id }}"{% if message.deleted %} class="text-muted"{% endif %}>{{ version.corps }}</p>
            {% else %}
            <p class="pull-right text-danger"><em>version du {{ version.cree }} par {{ version.operateur }}</em></p>
            <p class="text-muted">{{ version.corps }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
