<div class="panel panel-{% if message.deleted %}default{% else %}info{% endif %}">
    <div class="panel-heading">
        {{ message.events.last.cree }}
        |
        <b>{{ message.recipiendaire }}</b> de <b>{{ message.expediteur }}</b>
        |
        message saisi par <b>{{ message.events.last.operateur }}</b>
        {% if message.modified %}
        <p class="pull-right text-danger"><span class="glyphicon glyphicon-warning-sign"></span>&#160;Message modifié</p>
        {% endif %}
    </div>
    <ul class="list-group">
        {% for event in message.events.all %}
        <li class="list-group-item">
            {% if event.get_type_display == 'suppression' %}
                <p class="pull-right text-danger"><em>supprimé le {{ event.cree }} par {{ event.operateur }}</em></p>
                <p class="text-danger">Message supprimé : {{ event.corps }}</p>
            {% elif message.deleted %}
                <p class="pull-right text-danger"><em>version du {{ event.cree }} par {{ event.operateur }}</em></p>
                <p class="text-muted">{{ event.corps }}</p>
            {% elif message.modified %}
                <p class="pull-right text-danger"><em>version du {{ event.cree }} par {{ event.operateur }}</em></p>
                {% if forloop.first %}
                    <p>{{ event.corps }}</p>
                {% else %}
                    <p class="text-muted">{{ event.corps }}</p>
                {% endif %}
            {% else %}
                <p>{{ event.corps }}</p>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
</div>
